*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f6f9;
}

header{
    background:#0d6efd;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo h2{
    font-size:28px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:linear-gradient(to right,#0d6efd,#4facfe);
    color:white;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

button{
    padding:12px 30px;
    border:none;
    background:#ffc107;
    color:black;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#ff9800;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.card h3{
    margin-bottom:15px;
    color:#0d6efd;
}

footer{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}